body{
    padding: 0;
    margin: 0;
    width:100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
a{
    text-decoration: none;
    color:black;
}


/*ヘッダー*/
.header-background{
    padding-top:7rem;
    background:url("Image/Header-Image.jpeg");
    background-size: cover;
    padding-left: 1em;
}
#header-title{
    font-size:30mm;
    -webkit-text-stroke:2px white;
    color:transparent;
    animation: header-title-ani 1s ease forwards;

}

#header-sub-title{
    text-shadow:0 0 25px rgba(255,255,255,.1);
    -webkit-text-stroke:0.3mm white;
    font-size:10mm;
    color:black;
    position: relative;
    top:-17mm;
    animation: header-sub-title-ani 2s ease forwards;
    padding-top:1em;
}

/*Menu*/
.menu-button{
    content:"";
    background: #131313;
    position: fixed;
    top:-7rem;
    left:-7rem;
    height:14rem;
    width:14rem;
    transform:rotateZ(135deg);
    cursor: pointer;
    transition: 0.5s;

}
.menu-button:hover{
    transition: 0.5s;
    top:-8rem;
    left:-8rem;
    height:14rem;
}


.menu-button-in{
    text-align: center;
    position: absolute;
    top:1.5rem;
    right:0;
    height:auto;
    width:100%;
    color:white;
    transform:rotateZ(-135deg);
}
.menu-background{
    position: fixed;
    width:30rem;
    height:120vh;
    background: #131313;
    top:-10%;
    left:-15rem;
    transform: rotateZ(10deg);
    flex-wrap: wrap;
}
.menu-container{
    position: absolute;
    text-align: right;
    padding-top:10vh;
    right:0;
    top:0;
    height:100%;
    width:100%;
}
.menu-container .menu{
    width:auto;
    text-align: right;
    padding-right: 1em;
    font-size:2em;
    line-height: 4em;
    height:auto;
    color:white;
    transition: 0.5s;

}

.menu-container .menu:hover{
    width:auto;
    text-align: right;
    padding-right: 2em;
    padding-right: 2em;
    background: rgba(255,255,255,.5);
    font-size:2em;
    line-height: 4em;
    height:auto;
    cursor: pointer;
    transition: 0.5s;
}



/*コンテンツ*/
.content{
    padding:1em;
    max-width:300mm;
    width:90vw;
    margin:1em auto;
    font-size: 1.3em;

}

h1{
    border-left:red 4px solid;
    padding:0 .5em;
    background: url("Image/h1-back.jpeg");
    background-size: cover;
    color:white;
}
h2{
    border-left:grey 4px solid;
    margin-right:2em;
    padding:0 .5em;
    background: url("Image/h2-back.jpeg");
    background-size: cover;
    color:white;
}

/*Photo*/
.photo-box{
    max-width:300mm;
    width:90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.photo-box  img{
    margin:.5em 0;
    height:10em;
    width:auto;
    cursor: pointer;

    box-shadow: 3px 3px 3px 3px rgba(0,0,0,.5);

    transition: .3s;
}

.photo-box img:hover{
    margin:.7em .2em;
    height:9.6em;
    width:auto;
}

.photo-view{
    position: fixed;
    top:0;
    left: 0;
    width:100dvw;
    height:100dvh;
    background:rgba(0,0,0,.8);
    display: flex;

    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    color:white;
}

.photo-dist{
    width:100dvw;
    text-align: center;
    height:1em;
    margin:0;
}

.photo-view img{
    height:80dvh;
    width:auto;

    cursor: pointer;
}

/*TOP MENU*/
.top-menu{
    display: flex;
    flex-wrap: wrap;
    width:calc(100vw - 4em);
    margin:2em;
}

.top-menu-button{
    height:40vw;
    width:40vw;
    max-height: 100mm;
    max-width:100mm;
    text-align: center;
    margin:1em auto;
    font-size: 2em;
    -webkit-text-stroke:1px white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,.5);
}

.member-button{
    background:url("Image/member.jpeg");
    background-size:cover;
}

.member-button:hover{
    background:url("Image/member2.jpeg");
    background-size:cover;
}

.story-button{
    background:url("Image/story.jpeg");
    background-size:cover;

}
.story-button:hover{
    background:url("Image/story2.jpeg");
    background-size:cover;
}
.about-button{
    background:url("Image/about.jpeg");
    background-size:cover;
}
.about-button:hover{
    background:url("Image/about2.jpeg");
    background-size:cover;
}

.photo-button{
    background:url("Image/photo.jpeg");
    background-size:cover;
}

.photo-button:hover{
    background:url("Image/photo2.jpeg");
    background-size:cover;
}


/*member*/
.member-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-box img{
    height:10em;
    margin:2em;
    border-radius: 100%;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,.5);
    border:solid 4px white;
}

/*footer*/

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color:grey;
    box-shadow:  0px 3px 3px rgba(0,0,0,.5) inset;

    padding:2em 0;
}

.site-map {
    color: grey;
}

.site-map a{
    color:grey;
}


/*animation*/

@keyframes header-title-ani {
    0%{
        opacity: 0;
        transform: scale(0.8,0.8) rotateY(35deg);
    }
    50%{

    }
    100%{
        transform: scale(1,1) rotateY(0);
        opacity: 1;
    }
}
@keyframes header-sub-title-ani {
    0%{
        opacity: 0;
        transform: scale(0.8,0.8) rotateY(35deg);
    }
    50%{
        opacity: 0;
        transform: scale(0.8,0.8) rotateY(35deg);
    }
    100%{
        transform: scale(1,1) rotateY(0);
        opacity: 1;
    }

}

